
/*
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
*/
body {
	background-color: #fdfdfd; /*#fff*/
	/*margin: 40px;*/
	font: .91em/1.4em normal Helvetica, Arial, sans-serif; /*13px/20px*/
	color: #4F5155;
}

abbr {
	border-bottom: 1px dotted gray;
	cursor:help;
}

a img{
	border:none;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}
a:hover, a:focus {
	color: #36a;
}
hr{
	border:none;
	border-bottom:1px solid #d0d0d0;
	height:1px;
	margin:1.5em 0;
}

h1 {
	color: #444;
	background-color: transparent;
	/*border-bottom: 1px solid #D0D0D0;*/
	font-size: 1.9em; /*19px*/
	font-weight: normal;
	margin: 0 0 16px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: ; /*12px*/
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
}

p.ci-footer{
	text-align: right;
	font-size: .8em; /*11px*/
	/*border-top: 1px solid #D0D0D0;*/
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin:0; /*20px 0 0 0*/
}

#container{
	margin: 35px auto;
	border: 1px solid #D0D0D0;
	/*-webkit-box-shadow: 0 0 8px #D0D0D0;*/
	box-shadow:0 0 8px #d0d0d0;
	min-width:13em;
	max-width:66em;
}

#container p, h2, h3, pre{
	padding:0 15px;
	font-weight:normal;
}
fieldset{
	margin:15px;
	border:1px solid #d0d0d0;
	background:#f8f8f8;
}


.f-rss a {
	display:inline-block;
	padding-right:19px;
	background:url(http://www.open.ac.uk/includes/icons/16x16px/062feed-icon-16x16.gif) no-repeat right;
}

/* 'Alpha' / 'Beta'
*/
h1 em, h2 em {
	font-size:.8em;
	color:#888;
}

/* Navigation/ menus.
*/
#nav ul, #ou-org-footer ul {
	margin:15px 0;
	padding:0 9px; /*=15-6*/
}
#nav ul {
	border-bottom:1px solid #d0d0d0;
	padding-bottom:15px;
}
#ou-org-footer ul {
	border-top:1px solid #d0d0d0;
	padding-top:10px;
	margin-top:30px;
}
#nav li, #ou-org-footer li {
	font-size: .86em;
	display:inline-block;
	list-style:none;
	padding:3px 6px;
}
.pg-home .tm-toer-home, .rt-about .tm-about, .pg-test .tm-test, .pg-oerform .tm-form {
	background:#eee;
	border:1px solid #e8e8e8;
}
.pg-home .tm-toer-home a, .rt-about .tm-about a, .pg-test .tm-test a, .pg-oerform .tm-form a {
	color: #36a;
	text-decoration:none;
	x-cursor:default;
}
#ou-org-footer .f-logo a {
	display:inline-block;
	height:auto;
	padding:1px;
	border:1px dotted transparent;

	transition:all .6s;
	-moz-transition:all .6s; /* Firefox 4 */
	-webkit-transition:all .6s; /* Safari and Chrome */
	-o-transition:all .6s; /* Opera */
}
#ou-org-footer .f-logo a:hover, #ou-org-footer .f-logo a:focus {
	border-color:gray;
	box-shadow:0 0 8px #d0d0d0;
	background:#fff;
}
#ou-org-footer .ci-footer {
	padding-left:;
}
#ou-org-footer #forkme-banner {font-size:1.1em; }
#forkme-banner :hover, #forkme-banner :focus{ color:#ffffe0; }
.warn, #cc-code, #log p {
	text-align:center;
	padding:6px; /*!important*/
	margin:15px;
	color:#111;
	background:#eef;
	border:1px solid #ccc;
}
#cc-code{ text-align:right; font-size:.92em; }
#cc-code[role=button]{ cursor:pointer; }
#cc-code[role=button]:hover, .cc-code[role=button]:hover{ outline:1px solid orange; }
.test-content{ font-size:.86em; }
#copy-me-js, #twitter{ margin-left:15px; }
#copy-me-js.hide{ display:none; }
.elip{ font-size:x-large; }
#site-licenses{ text-align:right; }
#cloudstream .cloudworks-end{ display:block; margin:0 15px 3em; font-size:small; }
/* Status log. */
#log p {
	font-family:monospace;
	text-align:left;
	max-height:6em;
	overflow-y:scroll;
}


/* OER form.
*/
label.blk{ display:block; }
.oer-form h1{ font-size:1.7em; }
.oer-form .sp{ display:inline-block; width:3em; }
.oer-form p{ margin:2em 0; }
.oer-form fieldset p{ margin:1.2em 0; }
.oer-form fieldset{ margin:2em 15px; }
.oer-form input /*[type=url], .oer-form [type=submit]*/, .oer-form textarea {
	margin:.8em 0;
	padding:.4em;
	font-size:.95em;
	color:#333;
}
.oer-form input[type=url], .oer-form [type=submit] {
	font-size:1.22em;
	padding:.8em 5px;
	background:#ddd;
	border:1px solid #d0d0d0;
}
input[type=submit]{ cursor:pointer; padding:.8em; }
.oer-form [type=submit]:hover{ background:#e8e8e8; }
.oer-form input#url{
	width:42em;
	/*max-width:44em;
	width:82%;
	*/
	background:#f8f8f8;
	border-right-width:0
}
.oer-form input#url:focus{
	box-shadow:0 0 20px #d0d0d0;
	background:#fff;
}

#ex small{ display:block; margin-left:4em; margin-bottom:5em; }
#ex small a{
	display:block;
	overflow:hidden;
	width:29em;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/* OER form - '?edge=1'.
*/
.oer-form #ga-ac{
	height:0; overflow:hidden; background:#e8e8e8;

	transition:all 1s;
	-moz-transition:all .6s; /* Firefox 4 */
	-webkit-transition:all 1s; /* Safari and Chrome */
	-o-transition:all .6s; /* Opera */
}
.oer-form #ga-ac.show{ height:3em; border:1px solid #ddd; }


/* Bookmarklet link.
*/
#bookmarklet{
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	padding:8px;
	border:2px solid gray;
	background:#eee;
}
